@charset "UTF-8";
/* CSS Document */

#body {
    width: 95%;
    margin: auto;
    text-align: center;
    background-color: lightgrey;
    background-size: cover;
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   padding: 30px;
   border-radius: 10px;
}

h1 {
    text-align: center;
    margin: 40px;
}

p {
    font-size: 24px;
    color: #000;
}

input {
    border: 0;
    padding: 12px;
    font-size: 24px;
    margin: 10px;
}

.btn {
    background: #3CF;
    color: black;
}

#reviews {
    width: auto;
    background-color: white;
    float: bottom;
}

.buttonblue {
	background-color: #3ff;
}